<div class="header-wrap">
    <h4 class="heading"><img src="/images/notebook.png" style="height: 50px; width:40px"> Create a Notebook</h4>
</div>
<form id="notebook_creation">
    <div class="note-creation">
        <table class="note-create-table">
            <tr>
                <td>
                    <label class="nav-header">Title</label>
                </td>
                <td>
                    <input name="notebook[title]" class="note-title-input" type="text" placeholder = "Enter notebook title"/>
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="create-action-items">
    <a class="btn btn-medium cancel pull-right" href="#" style="margin-left:10px;">Cancel</a>
    <a class="btn btn-medium btn-success save-notebook pull-right" style="color:#ffffff;" href="#">Save</a>
</div>